
<div class="jumbotron">
  <h1 class="display-4">Bienvenu sur Event Bride !</h1>
  <p class="lead">Tu pourras trouver ici tous les évènements qui auront lieu dans ta région. </p>
</div>

<div class="card-columns container mx-auto">
  <% @event.each do |t| %>

    <center>
      <div class="card shadow" style="width: 20rem; padding-bottom:10px; border-color:#781D47;">
        <img class="card-img-top" src="http://www.feteetcompagnie.fr/media//slidefetes__013340400_1443_18052016.jpg" alt="Card image cap">
        <div class="card-body">
          <a style="color: #781D47; " class="card-title" href="<%=event_path(t)%>"> <%=t.title %></a>
          <p class="card-text"> Description : <%= t.description  %></p>
          <p class="card-text"> Prix : <%= t.price  %></p>
          <p class="card-text"><small class="text-muted"> Date de l'évènement: <%= t.start_date %></small></p>
          <p class="card-text"><small class="text-muted"> Durée de l'évènement: <%= t.duration %></small></p>
        </div>
      </div>
      <br>
    </center>

  <%end %>
</div>
