
<style >

body {
  background-image: url("https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png");
  }

</style>


<% if @event.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p><strong>Nous n'avons pas réussi à créer votre profil pour la (ou les) raison(s) suivante(s) :</strong></p>
    <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li ><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


    <div class="container bg-white" style="margin-top:60px;">
        </br>
        <h1 class="display-4  mt-5 d-flex justify-content-center" style="color:#C73C3F;">Balance les infos concernant ton Event !</h1>
        <div class="container d-flex justify-content-center ">
          <div class="col-md-8 order-md-1">


            <%= form_for @event do |f| %>


                <div class="mb-3">
                  <%= f.label "Titre de l'évènement" %> </br>
                  <%= f.text_field :title,  class: "form-control", placeholder: "Titre" %>
                </div>

                <div class="row">
                  <div class="col">
                    <%= f.label 'La Date'%> </br>
                    <%= f.text_field :start_date,  class: "form-control", placeholder: "2019-01-01 00:00:00"  %>
                  </div>
                  <br />
                  <div class="col">
                    <%= f.label 'La durée ' %><span class="text-muted"> (en minutes svp)</span> </br>
                    <%= f.text_field :duration,  class: "form-control"%>
                  </div>
                  <div class="col">
                    <%= f.label 'Le prix ' %> <span class="text-muted"> (en €)</span> </br>
                    <%= f.text_field :price, class: "form-control"%>
                  </div>
                </div>
                </br>
                <div class="mb-3">
                  <%= f.label "Le lieu" %> </br>
                  <%= f.text_field :location,  class: "form-control", placeholder: "Montpellier"%>
                </div>

                <div class="mb-3">
                  <%= f.label "Description de l'évènement " %><span class="text-muted"> (20 caractères min)</span> </br>
                  <%= f.text_field :description,  class: "form-control"%>
                </div>

                <div class="form-group">
                 <%= f.label 'Image' %>
                 <%= f.file_field :avatar %>
               </div>

                <%= f.submit "Valider", class: 'btn btn-primary btn-lg btn-block'  %>
                <br>
            <% end %>

          </div>
        </div>
    </div>
