<style>

.jumbotron {
  height: 360px;
  background-image: url("https://cdn.pixabay.com/photo/2015/03/26/10/22/band-691224_960_720.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
}

</style>



<div class="jumbotron jumbotron-fluid" >
  <div class="container">
    <h1 style="margin-top:100px; font-size:38px; color:white;" class="display-4"><strong>Tu trouveras ci-dessous toutes les infos qui t'intéresse pour l'évent </strong> <%= @event.title%></h1>
  </div>
</div>


<center>

  <%if @event.avatar.attached?%>
  <%= image_tag @event.avatar, class:"card-img-top rounded-pill", style:"width:600px;"%>
  <%end%>


  <h2 style="padding-top:40px; padding-bottom:40px; font-size:40px;"><strong><%= @event.title%></strong></h2>



<div class="card" style="width:60%; margin-bottom:60px;">

  <div class="card-body">
    <blockquote class="blockquote mb-0">

      <div style="text-align:left;">
        <h2> <strong>Il s'y passe quoi ?  </strong> </h2>
        <p><%= @event.description%></p>
        <h2> <strong>Quand ?  </strong> </h2>
        <footer class="blockquote-footer">Du   <%= @event.start_date%>   au   <%= @event.start_date + @event.duration*60%></footer>
        <footer class="blockquote-footer"><strong>Durée : <%= @event.duration %> min. </strong> <% @event.duration %></footer><bR>
        <h2> <strong>Où ?  </strong> </h2>
        <p><%= @event.location%></p>

          <%= form_tag inscription_path do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              <label class="amount">
                <span>Prix: <%=@event.price %> €</span>
              </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="Paiement pour participer à l'évênement"
                    data-amount="<%= @event.price*100 %>"
                    data-currency="eur"
                    data-locale="auto"></script>
          <% end %>

        <p> </p>
      </div>

      <button type="button" class="btn btn-outline-info", style="text-align:right; margin-bottom:20px;">
        participants <span class="badge badge-light"><%= @attendance.where(event_id: @event.id).count%> </span>
      </button>

      <p>
        <button class="btn btn-outline-warning" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Créateur de l'évènement
        </button>
      </p>
      <div class="collapse" id="collapseExample" style="width:40%; font-size:16px;">
        <div class="card card-body">
        <strong><%= @event.administrator.email%></strong>
      </div>

    </blockquote>
  </div>
</div>
</center>
